<div class="container">
    <section>
        <div class="not-eaten">
            {{{burgers}}}
        </div>
        <div class="eaten">
            {{{burgersEaten}}}
        </div>
    </section>
    <section>
        <input type="text" placeholder="What type of burger would you like to eat?">
        <input type="button" class="btn btn-primary"value="Submit">
    </section>

</div>